---
layout: default
title: welcome
---
<section class="intro">
<div class="site">
{% capture intro %}
  {% include intro.markdown %}
{% endcapture %}
{{ intro | unindent | markdownify }}
</div>
</section>

<div class="site">

{% for job in site.jobs %}

	<h2>{{job.title}}</h2>
	

	<h5>{{job.company}}</h5>
	
	<h4>{{job.location}}</h4>
	
	{{ job.content | markdownify }}
	
	<h3>Position</h3>
	
	{{job.positionLevel}}
	
	<h3>How to apply</h3>
	
	<a href="#">{{job.applicationUrl}}</a>
	
	<p>Please email {{job.applicationEmail}}</p>
	
{% endfor %}

</div>
