---
layout: default
title: Tech@NYU Job Board
---
<section class="intro">
<div class="site">
{% capture intro %}
  {% include intro.markdown %}
{% endcapture %}
{{ intro | unindent | markdownify }}
</div>
</section>

<div class="site">

{% for job in site.jobs %}
	<article class="job__listing">
		<h1 class="job__title">{{job.title}} - {{job.company}}</h1>
		
    	
		<h4>{{job.location}}</h4>
		
		{{ job.content | markdownify }}
		
		<h3>Position</h3>
		
		{{job.category}} {{job.positionLevel}}
		
		<h3>How to apply</h3>
		
		<a href="{{job.applicationUrl}}">{{job.applicationUrl}}</a>
		
		<p>Please email {{job.applicationEmail}}</p>
	</article>
{% endfor %}

</div>
