@import "ionicons.css";
@font-face {
  font-family: 'input_mono_compressedregular';
  src: url('/fonts/inputmonocompressed-regular-webfont.eot');
  src: url('/fonts/inputmonocompressed-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/inputmonocompressed-regular-webfont.woff') format('woff'), url('/fonts/inputmonocompressed-regular-webfont.ttf') format('truetype'), url('/fonts/inputmonocompressed-regular-webfont.svg#input_mono_compressedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metablack-romanregular';
  src: url('/fonts/mtblro__-webfont.eot');
  src: url('/fonts/mtblro__-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/mtblro__-webfont.woff') format('woff'), url('/fonts/mtblro__-webfont.ttf') format('truetype'), url('/fonts/mtblro__-webfont.svg#metablack-romanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'metanormallf-romanregular';
  src: url('/fonts/mtnolfro-webfont.eot');
  src: url('/fonts/mtnolfro-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/mtnolfro-webfont.woff') format('woff'), url('/fonts/mtnolfro-webfont.ttf') format('truetype'), url('/fonts/mtnolfro-webfont.svg#metanormallf-romanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face { 
    font-family: 'merriweather-bold';
    src: url('/fonts/Merriweather-Bold.ttf');
}
/* -- FLUID GRID STYLES -- */
.grid {
  text-align: justify;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.job__title a {
    color: #FFFFFF;
    text-decoration: none;
}
.grid li {
  display: inline-block;
  text-align: left;
  width: 24%;
}
.grid.third li {
  width: 31%;
}
.grid.half li {
  width: 47%;
}
.grid:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.grid .placeholder {
  padding: 0;
}
.placeholder {
  width: 1em;
  display: inline-block;
}
body {
  font: 1em "metanormallf-romanregular", helvetica, arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: .1em;
}
h1 {
  font-size: 2em;
    font-family: "merriweather-bold";
    color: #152a5b;
}
h2 {
  font-size: 1.8em;
  font-family: "metablack-romanregular";
}
h3 {
  font-size: 1.6em;
    color: #152a5b;
    font-family: "merriweather-bold";
}
h4 {
  font-size: 1.4em;
    color: #d7552d;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}
hr {
  clear: both;
}
p {
  font-size: 100%;
  line-height: 1.75;
  margin-bottom: .75em;
}
a {
  font-weight: normal;
}
a:link,
a:visited,
a:active {
  color: #65408b;
}
a:hover {
  color: #65408b;
}
blockquote {
  margin: 1.5em;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #ffffff;
}
::selection {
  background: #65408b;
  /* Safari */
}
::-moz-selection {
  background: #65408b;
  /* Firefox */
}
.container {
  width: 100%;
  margin: 0 auto;
}
.site, .site_footer {
  margin: 0 auto;
}
.content {
  min-height: 30em;
  padding: 0 0 2em;
}
hr {
  height: .05em;
  border: none;
  background: #ccc;
}
.grid img {
  max-width: 100%;
}
header.main {
  *zoom: 1;
}
header.main:before,
header.main:after {
  display: table;
  content: "";
  line-height: 0;
}
header.main:after {
  clear: both;
}
header.main:before,
header.main:after {
  content: " ";
  display: table;
}
header.main:after {
  clear: both;
}
header.main li {
  list-style: none;
}
header.main a:hover {
  text-decoration: none;
}
header { 
    margin: 0 auto;
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 0px 10px 20px 0px;
}

header img.logo { 
    width: 200px;
    height: auto;
    padding: 14px 0px 0px 27px;
    margin: 0;
}

header svg { 
    width: 55px;
    height: auto;
    float: right;
    padding: 14px 27px 0px 0px;
}
 
header div.logo_calendar { 
    display: inline;    
}

header div.description { 
    margin: 0;  
}

header p.description { 
    padding-left: 27px;
    margin: 0;
    color: #d7552d;
}

header .calendar { 
    fill: #65408b;
}
.posts li {
  padding: 1em 0;
}
footer {
  font-size: 110%;
  padding: .5em 0;
}
footer .colophon {
  margin: 4em 1em;
    clear: both;
  text-align: right;
}
.logo__jobs {
  padding: 1em;
  text-align: right;
}
.logo__jobs img {
  width: 50%;
  max-width: 20em;
}
.job__company {
  font-family: "metablack-romanregular";
}
.job__listing {
    margin-bottom: 5em;
}
footer {
  background: #cccccc;
}
@media only screen and (min-width: 70em) {
  .site, .site_footer {
    padding-top: 94px;
        max-width: 50em;
    width: 50%;
    font-size: 125%;
  }
    .site_footer { 
        padding-top: 0; 
    }
}
@media only screen and (min-width: 50em) and (max-width: 70em) {
  .site, .site_footer {
    max-width: 45em;
    width: 75%;
        padding-top: 94px;
  }
    .site_footer { 
        padding-top: 0;
    }
}
@media only screen and (min-width: 40em) and (max-width: 50em) {
  .site, .site_footer {
    width: 90%;
    max-width: 45em;
    font-size: .85em;
        padding-top: 76px;
    }
    .site_footer { 
        padding-top: 0;
    }
}
@media only screen and (min-width: 30em) and (max-width: 70em) {
  .grid li {
    width: 45%;
    margin-bottom: 4%;
  }
}
@media only screen and (max-width: 30em) {
  .grid li,
  .grid.posts li {
    width: 100%;
    padding: 1em;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 40em) {
  .site, .site_footer {
    padding: 5.3em 1em 1em;
    width: 100%;
    font-size: .85em;
    }
    .site_footer { 
        padding: 1em;
    }
}
@media print {
  @page {
    margin: 0.5in;
  }
  img {
    max-width: 100% !important;
  }
  body {
    font-size: 12pt;
  }
  header.main h1 {
    font-size: 48px !important;
  }
}
a[ng-click] {
  color: red ;
  cursor: pointer ;
  text-decoration: underline ;
}
form {
  border: 1px solid #CCCCCC ;
  padding: 10px 20px 10px 20px ;
  position: relative ;
}
form.ng-dirty,
form.ng-invalid-required {
  border-color: #FFAAAA ;
}
form.ng-dirty:before,
form.ng-invalid-required:before {
  background-color: #CC0000 ;
  color: #FFFFFF ;
  content: "So dirty!";
  left: 0px ;
  font-family: monospace ;
  font-size: 11px ;
  padding: 4px 10px 4px 10px ;
  position: absolute ;
  top: 0px ;
}
form.ng-invalid-required:before {
  content: "Don't leave me hanging!";
}
div.m-dropdown {
  position: relative ;
  text-decoration: none ;
  user-select: none ;
  -moz-user-select: none ;
  -webkit-user-select: none ;
}
div.m-dropdown div.dropdown-root {
  background-color: #FFFFFF ;
  border: 1px solid #CCCCCC ;
  border-radius: 3px 3px 3px 3px ;
  cursor: pointer ;
}
div.m-dropdown ul.dropdown-options {
  background-color: #FFFFFF ;
  border: 1px solid #CCCCCC ;
  border-radius: 0px 0px 3px 3px ;
  display: none ;
  left: 0px ;
  list-style-type: none ;
  margin: 0px 0px 0px 0px ;
  padding: 0px 0px 0px 0px ;
  position: absolute ;
  right: 0px ;
  top: 100% ;
  z-index: 999999 ;
}
div.m-dropdown li.dropdown-option {
  border-bottom: 1px solid #CCCCCC ;
  cursor: pointer ;
  margin: 0px 0px 0px 0px ;
  padding: 0px 0px 0px 0px ;
  position: relative ;
}
div.m-dropdown li.dropdown-option:last-child {
  border-bottom-width: 0px ;
}
div.m-dropdown div.dropdown-label,
div.m-dropdown li.dropdown-label {
  padding: 9px 10px 7px 10px ;
  position: relative ;
}
div.m-dropdown.dropdown-open div.dropdown-root {
  border-bottom-width: 0px ;
  border-radius: 3px 3px 0px 0px ;
}
div.m-dropdown.dropdown-open ul.dropdown-options {
  display: block ;
}
div.m-dropdown.dropdown-caret div.dropdown-root {
  padding-right: 30px ;
}
div.m-dropdown.dropdown-caret div.dropdown-root:after {
  border-left: 5px solid transparent ;
  border-right: 5px solid transparent ;
  border-top: 5px solid #AAAAAA ;
  content: "";
  height: 0px ;
  margin-top: -2px;
  position: absolute ;
  right: 10px ;
  top: 50% ;
  width: 0px ;
}
div.m-dropdown {
  margin: 20px 0px 20px 0px ;
}
div.m-dropdown div.dropdown-root div.dropdown-label.dropdown-placeholder {
  color: #999999 ;
  font-style: italic ;
}
div.m-dropdown ul.dropdown-options {
  box-shadow: 1px 1px 0px #DADADA ;
}
div.m-dropdown li.dropdown-option.dropdown-label:hover {
  background-color: #FAFAFA ;
}
div.m-dropdown li.dropdown-option.dropdown-selection {
  background-color: #FFFFCC ;
  font-weight: bold ;
  padding-left: 27px ;
}
div.m-dropdown li.dropdown-option.dropdown-selection:before {
  content: "\00BB";
  left: 10px ;
  line-height: 32px ;
  position: absolute ;
  top: 0px ;
}
div.m-dropdown li.dropdown-option.group.all,
div.m-dropdown li.dropdown-option.group.none {
  border-left: 4px solid #CCCCCC ;
  color: #333333 ;
}
div.m-dropdown.ng-invalid-required div.dropdown-root div.dropdown-label {
  background-color: #FFEEEE ;
  color: #CC0000 ;
}