@import "ionicons.css";

@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata.otf");
  font-weight: normal;
  font-style: normal;
}

/* -- FLUID GRID STYLES -- */
.grid {
  text-align: justify;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.job__title a {
    font-family: "Inconsolata", Sans-Serif;
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 34px;
}
#filters {
  margin: 1em 0em 0em;
}
.grid li {
  display: inline-block;
  text-align: left;
  width: 24%;
}
.grid.third li {
  width: 31%;
}
.grid.half li {
  width: 47%;
}
.grid:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.grid .placeholder {
  padding: 0;
}
.placeholder {
  width: 1em;
  display: inline-block;
}
body {
  font: 1em "ff-meta-web-pro", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: .1em;
}
h1 {
  font-size: 2em;
    font-family: "Inconsolata", Sans-Serif;
    color: #152a5b;
}
h2 {
  font-size: 1.8em;
  font-family: "Inconsolata", Sans-Serif;
}
h3 {
  font-size: 1.6em;
  color: #D7552D;
  font-family: "Inconsolata", Sans-Serif;
}
h4 {
  font-size: 1.4em;
  color: #43C0C8;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}
hr {
  clear: both;
}
p {
  font-size: 19px;
  line-height: 1.75;
  margin-bottom: .75em;
}
a {
  font-weight: normal;
  -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
}
a:link,
a:visited,
a:active {
  color: #65408B;
}
a:hover {
  color: #D7552D;
}
a.header,
a.header:hover,
a.header:link,
a.header:visited,
a.header:active {
  color:#65408B;
  text-decoration: none;
  -webkit-transition: none;
          transition: none;
}

button {
  background: #D7552D;
  border-style: solid;
  border-color: transparent;
  color: white;
  font-family: "Inconsolata", Sans-Serif;
  -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
}

button:hover {
  background: white;
  border-style: solid;
  color: #D7552D;
  border-color: #D7552D;
}

.tag {
  color: white;
  padding: 0.2em 0.5em;
  font-size: 19px;
  margin: 0.5em 0.5em 1.8em 0em;
}

button.post {
  font-size: 19px;
  top: 89%;
  right: 0%;
  margin-right: 27px;
  position: fixed;
  float: right;
  z-index: 10000;
  width: 170px;
  height: 50px;
}

blockquote {
  margin: 1.5em;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #ffffff;
}
::selection {
  background: #EFBC2E;
  /* Safari */
}
::-moz-selection {
  background: #EFBC2E;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.site, .site_footer {
  margin: 0 auto;
}
.content {
  min-height: 30em;
  padding: 0 0 2em;
}
hr {
  height: .05em;
  border: none;
  background: #ccc;
}
.grid img {
  max-width: 100%;
}
header.main {
  *zoom: 1;
}
header.main:before,
header.main:after {
  display: table;
  content: "";
  line-height: 0;
}
header.main:after {
  clear: both;
}
header.main:before,
header.main:after {
  content: " ";
  display: table;
}
header.main:after {
  clear: both;
}
header.main li {
  list-style: none;
}
header.main a:hover {
  text-decoration: none;
}
header { 
  margin: 0 auto;
  background-color: white;
  width: 100%;
  padding-top: 2%;
}

header h1.title {
  text-align: center;
  display: inline;
  color: #43C0C8;
  left: 45%;
  position: absolute;
  margin: 15px 0px 0px 0px;
}

header img.logo { 
  width: 160px;
  height: auto;
  padding: 14px 0px 0px 27px;
  margin: 0;
  position: fixed;
}

header svg { 
    width: 55px;
    height: auto;
    float: right;
    padding: 14px 27px 0px 0px;
    position: fixed;
    right: 0%;
}
 
header div.logo_calendar { 
    display: inline;    
}

header div.description { 
    margin: 0;  
}

header p.description { 
    padding-left: 27px;
    margin: 0;
    color: #d7552d;
}

header .calendar { 
    fill: #65408b;
}
.posts li {
  padding: 1em 0;
}
footer {
  font-size: 110%;
  padding: .5em 0;
}
footer .colophon {
  margin: 4em 1em;
    clear: both;
  text-align: right;
}
.logo__jobs {
  padding: 1em;
  text-align: right;
}
.logo__jobs img {
  width: 50%;
  max-width: 20em;
}
.job__company {
  font-family: "Inconsolata", Sans-Serif;
}
.job__listing {
    padding: 1.8em 0em;
}
footer {
  background: #cccccc;
}
@media only screen and (min-width: 70em) {
  .site, .site_footer {
    padding-top: 94px;
        max-width: 50em;
    width: 50%;
    font-size: 125%;
  }
    .site_footer { 
        padding-top: 0; 
    }
}
@media only screen and (min-width: 50em) and (max-width: 70em) {
  .site, .site_footer {
    max-width: 45em;
    width: 75%;
        padding-top: 94px;
  }
    .site_footer { 
        padding-top: 0;
    }
}
@media only screen and (min-width: 40em) and (max-width: 50em) {
  .site, .site_footer {
    width: 90%;
    max-width: 45em;
    font-size: .85em;
        padding-top: 76px;
    }
    .site_footer { 
        padding-top: 0;
    }
}
@media only screen and (min-width: 30em) and (max-width: 70em) {
  .grid li {
    width: 45%;
    margin-bottom: 4%;
  }
}
@media only screen and (max-width: 30em) {
  .grid li,
  .grid.posts li {
    width: 100%;
    padding: 1em;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 40em) {
  .site, .site_footer {
    padding: 5.3em 1em 1em;
    width: 100%;
    font-size: .85em;
  }
  
  .site_footer { 
    padding: 1em;
  }

  header img.logo {
    position: absolute;
    width: 140px;
    padding-left: 10px;
  }

  header h1.title {
    font-size: 1.7em;
  }

  header svg {
    position: absolute;
    padding: 11px 27px 0px 0px;
  }
}
@media print {
  @page {
    margin: 0.5in;
  }
  img {
    max-width: 100% !important;
  }
  body {
    font-size: 12pt;
  }
  header.main h1 {
    font-size: 48px !important;
  }
}
a[ng-click] {
  color: #D7552D;
  cursor: pointer ;
  text-decoration: underline ;
}
.filters section {
  display:inline;
  padding: 1em 0em;
}
.filters a {
  text-decoration: none;
}

.filters p {
  display:inline;
}

fieldset {
  border: none;
}

section#submit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1.submit {
  text-align: center;
}
