<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
    <div ng-if="jobs">
        <section id="jobs">
            <div ng-repeat="job in jobs">
                <h4 class="job__title"><a ui-sref="job({id: job.id})">{{job.attributes.positionTitle}}</a></h4>
                <p>{{job.attributes.category}}, {{job.attributes.positionLevel}}</p>
                <p ng-bind-html="job.attributes.description | firstSentence"></p>
            </div>
        </section>
    </div>
</div>