
<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
  <a href="/#/submit"><button class="post">Post a Job!</button></a>
    <div ng-if="jobs">
        <section id="filters" ng-include src="'/partials/filters.html'"></section></br>
        <section id="jobs">
            <div ng-repeat="job in jobs" class="job__listing">
                <h4 class="job__title"><a ui-sref="job({id: job.id})">{{job.attributes.positionTitle}}</a></h4>
                <p><span ng-if="job.attributes.category">{{job.attributes.category}},</span> {{job.attributes.positionLevel}}</p>
                <p ng-bind-html="job.attributes.description | firstSentence"></p>
            </div>
        </section>
    </div>
</div>
